.container_head {
  background-color: var(--primary-1);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-300);
  opacity: .3;
}

.header-divider {
  background-color: var(--neutral-100);
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-left-hero {
  margin-top: 80px !important;
}

.subtitle {
  color: var(--secondary-1);
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125em;
}

.title_head {
  color: var(--neutral-100) !important;
}

.paragraph {
  color: var(--neutral-100);
  margin-bottom: 35px;
}

.bg-secondary-1 {
  background-color: var(--secondary-1);
  color: var(--neutral-800);
  transition: color .35s, background-color .35s;
}

.img_svg {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;

  position: absolute;
  left: -115px;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper, .home-hero {
  z-index: 1;
  min-height: 734px;
  align-items: center;
  display: flex;
  position: relative;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.image {
  object-fit: cover;
}

.content-rigth-hero {
  align-items: center;
  display: flex;
  position: relative;
}