.header {
  background-color: var(--primary-1);
  padding-top: 20px;
  padding-bottom: 28px;
}

.container_head {
  background-color: var(--primary-1);
}

.container-default.home-head {
  max-width: 100%;
  margin-bottom: 0px;;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-300);
  opacity: .3;
}

.header-divider {
  background-color: var(--neutral-100);
  margin-top: 20px;
  margin-bottom: 20px;
}

.content-left-hero {
  margin-top: 80px;
  z-index: 1;
}

.content-info.home-doctor {
  padding-top: 124px;
  padding-bottom: 0;
}

.subtitle {
  color: var(--secondary-1);
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.125em;
}

.title.home-doctor {
  color: var(--neutral-100) !important;
}

.paragraph.home-doctor {
  color: var(--neutral-100);
  margin-bottom: 35px;
}

.bg-secondary-1 {
  background-color: var(--secondary-1);
  color: var(--neutral-800);
  transition: color .35s, background-color .35s;
}

.img_svg {
  opacity: 1;
  transform-style: preserve-3d;

  position: absolute;
  left: -115px;
}

.image-wrapper.home-doctor {
  z-index: 1;
  min-height: 734px;
  align-items: center;
  display: flex;
  position: relative;
}

.image.home-doctor {
  object-fit: cover;
}

.content-rigth-doctor {
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.bg.home-doctor {
  height: 796px;
  top: 0;
  left: 0;
  right: 0;
}

section.home-doctor {
  position: relative;
  background-color: var(--neutral-200);
}

.home-doctor-wrapper {
  z-index: 1;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.home-doctor-wrapper-col {

}

@media screen and (max-width: 991px) {

  .content-left-hero {
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;
  }

  .content-rigth-doctor {
      max-width: 595px;
      align-items: flex-start;
  }

  .bg.content-rigth-doctor {
    max-width: 100%;
  }

  .image-wrapper.home-doctor {
    min-height: auto;
  }
  
  .content-info.home-doctor {
    padding-top: 64px;
  }

  .container-default {
    flex-direction: column;
    align-items: stretch;
  }

  .home-doctor-wrapper-col {
    text-align: center;
  }

  .bg.home-doctor {
    height: 90%;
  }
}

@media screen and (max-width: 767px) {
  .content-left-hero {
    max-width: none;
    text-align: left;
    margin-bottom: 40px;
  }
}
