.header-contact-link {
  color: var(--neutral-100);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 56px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25em;
  text-decoration: none;
}

.header-contact-wrapper {
  align-items: center;
  display: flex;
}

@media screen and (max-width: 767px) {
  .header-contact-link {
      margin-right: 40px;
      font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .header-contact-link {
      margin-bottom: 10px;
      margin-right: 25px;
      font-size: 13px;
  }

  .header-contact-wrapper {
    flex-wrap: wrap;
  }
}