.bg-menu {
  background-color: var(--primary-1);
  padding-top: 0px;
  padding-bottom: 8px;
}

.nav-link {
  color: var(--neutral-100) !important;
  text-decoration: none !important;
}

.navbar-brand {
  color: var(--neutral-100) !important;
  text-decoration: none !important;
}