#root {
  min-height: 100%;
  margin: 0 0;
  /* min-width: 100vw; */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.section {
  padding-top: 180px;
  padding-bottom: 180px;
}

section {
  justify-content: center;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.button-primary {
  background-color: var(--primary-1);
  color: var(--neutral-100);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 1000px;
  padding: 22px 40px;
  font-size: 16px;
  line-height: 1.125em;
  transition: color .35s, background-color .35s;
}

.button-secondary {
  border: 1px solid var(--neutral-300);
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 1000px;
  padding: 22px 40px;
  font-size: 16px;
  line-height: 1.125em;
  transition: border-color .35s, color .35s;
}

.container-default {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container-default.home-head {
  max-width: 100%
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

h1 {
  color: var(--neutral-800);
  letter-spacing: .01em ;
  margin-top: 0 ;
  margin-bottom: 24px;
  font-family: DM Serif Display, sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 1.059em;
}

h2 {
  color: var(--neutral-800);
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: DM Serif Display, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.158em;
}

h3 {
  color: var(--neutral-800);
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: DM Serif Display, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.154em;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.bg {
  position: absolute;
}

.link-wrapper {
  color: var(--primary-1);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25em;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}

.link-underline {
  width: 100%;
  height: 2px;
  background-color: var(--primary-1);
  margin-top: 9px;
}

.arrow-left, .arrow-right {
  font-family: Icons Doctor Template, sans-serif;
  display: inline-block;
}

@media screen and (max-width: 479px) {
  .button-primary {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 15px;
      display: block;
  }
  .container-default {
    padding-left: 16px;
    padding-right: 16px;
  }
}