#root {
  min-height: 100%;
  margin: 0 0;
  min-width: 100vw;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

section {
  padding-top: 20px;
  padding-bottom: 28px;
  padding-left: 24px;
  padding-right: 24px;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.button-primary {
  background-color: var(--primary-1);
  color: var(--neutral-100);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 1000px;
  padding: 22px 40px;
  font-size: 16px;
  line-height: 1.125em;
  transition: color .35s, background-color .35s;
}
