#root {
  min-height: 100%;
  margin: 0 0;
  /* min-width: 100vw; */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.section {
  padding-top: 180px;
  padding-bottom: 180px;
}

section {
  justify-content: center;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.w-button {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

.button-primary {
  background-color: var(--primary-1);
  color: var(--neutral-100);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 1000px;
  padding: 22px 40px;
  font-size: 16px;
  line-height: 1.125em;
  transition: color .35s, background-color .35s;
}

.button-secondary {
  border: 1px solid var(--neutral-300);
  background-color: var(--neutral-100);
  color: var(--neutral-800);
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 1000px;
  padding: 22px 40px;
  font-size: 16px;
  line-height: 1.125em;
  transition: border-color .35s, color .35s;
}

.container-default {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container-default.home-head {
  max-width: 100%
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

h1 {
  color: var(--neutral-800);
  letter-spacing: .01em ;
  margin-top: 0 ;
  margin-bottom: 24px;
  font-family: DM Serif Display, sans-serif;
  font-size: 68px;
  font-weight: 400;
  line-height: 1.059em;
}

h2 {
  color: var(--neutral-800);
  letter-spacing: .01em;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: DM Serif Display, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 1.158em;
}

h3 {
  color: var(--neutral-800);
  letter-spacing: .02em;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: DM Serif Display, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.154em;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.bg {
  position: absolute;
}

.link-wrapper {
  color: var(--primary-1);
  letter-spacing: .08em;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25em;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
}

.link-underline {
  width: 100%;
  height: 2px;
  background-color: var(--primary-1);
  margin-top: 9px;
}

.arrow-left, .arrow-right {
  font-family: Icons Doctor Template, sans-serif;
  display: inline-block;
}

.container-medium-682px {
  max-width: 682px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container-medium-618px {
  max-width: 618px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.filter {
  opacity: .57;
  background-color: #071312;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.top-content {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-list-unstyled {
  padding-left: 0;
  list-style: none;
}

.paragraph-small {
  font-size: 15px;
  line-height: 1.6em;
}

@media screen and (max-width: 991px) {
  .section {
      padding-top: 135px;
      padding-bottom: 135px;
  }

  .container-default {
    flex-direction: column;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .section {
      padding-top: 101px;
      padding-bottom: 101px;
  }

  h3 {
    font-size: 22px;
  }

  li {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {

  .section {
    padding-top: 76px;
    padding-bottom: 76px;
  }

  .button-primary {
      padding-left: 16px;
      padding-right: 16px;
      font-size: 15px;
      display: block;
  }
  .container-default {
    padding-left: 16px;
    padding-right: 16px;
  }

  h3 {
    font-size: 20px;
  }
}