:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-600: #5d7471;
  --neutral-800: #042622;
  --primary-1: #ab95c6;
  --secondary-1: #81c7d5;
  --neutral-100: white;
  --secondary-2: #f9ede6;
  --secondary-3: #144741;
  --secondary-4: #deeeec;
  --neutral-700: #304f4b;
  --neutral-500: #90a19f;
  --neutral-400: #b6bfbe;
  --neutral-300: #e1e9e8;
  --neutral-200: #fbf7f3;
  --primary-2: #f66688;
  height: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100%;
  background-color: #fff;
  color: var(--neutral-600);
}

h1 {
  color: var(--neutral-800) !important;
  letter-spacing: .01em !important;
  margin-top: 0 !important;
  margin-bottom: 24px !important;
  font-family: DM Serif Display, sans-serif !important;
  font-size: 68px !important;
  font-weight: 400 !important;
  line-height: 1.059em !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
