html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutral-600: #5d7471;
  --neutral-800: #383569;
  --primary-1: #ab95c6;
  --secondary-1: #8ac5be;
  --neutral-100: white;
  --secondary-2: #f9ede6;
  --secondary-3: #c4b1c5;
  --secondary-4: #c5e0db;
  --neutral-700: #304f4b;
  --neutral-500: #90a19f;
  --neutral-400: #b6bfbe;
  --neutral-300: #ebe9e7;
  --neutral-200: #fbf7f3;
  --primary-2: #f66688;
  height: 100%;
}

body {
  margin: 0;
  /* place-items: center; */
  min-height: 100%;
  background-color: #fff;
  color: var(--neutral-600);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
